/* * {
  margin: 0;
  padding: 0;
} */
h1 {
  margin: 0 auto;
  width: 360px;
  text-align: center;
}

#grid {
  margin: 0 auto;
  background-color: orange;
  width: 360px;
  /* height: 300px; */
  /* position: absolute; */
  top: 150px;
  /* left: 33%; */
  font-size: 0px;
  /* position: fixed; */
}
.square {
  width: 120px;
  height: 120px;
  display: inline-block;
  background-color: grey;
  outline: 1px solid black;
}
img {
  /* float: left; */
  /* text-align: center;
  display: block; */
  margin: 10px;
}
#wichturn{
  width: 600px;
  height: 30px;
  margin: 25px auto;
  text-align: center;
}
#wichturn img {
  width: 20px;
  height: 20px;
  margin: 0;
}
/* p {
  position: relative;
  margin: 0;
  max-height: 100px;
  max-width: 100px;
  font-size: 30px;
  line-height: 100px;
} */
