h1 {
  margin: 0 auto;
  width: 300px;
}

#grid {
  background-color: orange;
  width: 308px;
  height: 308px;
  position: absolute;
  top: 150px;
  left: 33%;
}
.square {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: grey;
  z-index: 1;
  margin: 0;
  padding: 0;
}
#top-left {

}
